/*---------COLORS----------

yellow: rgb(223,184,62)
blue: rgb(93,139,200)
green: rgb(152,201,171)

*/

body {
  max-width: 1500px;
  font-family: "Alegreya Sans", serif;
  margin: 0px auto;
}

img{
  max-width: 100%;
}

* {
  box-sizing: border-box;
}


/*-----------EVERYTHING ELSE----------*/

main, header, footer {
  font-family: "Poppins", Helvetica, sans-serif;
}

main {
  padding: 20px 20px 20px 20px;
}

/*---breakpoint for main padding----*/
@media screen and (min-width: 700px) {
  main {
    padding: 20px 50px 40px 50px;
  }
}

p, ul {
  font-family: "Alegreya", serif;
}

h1 {
  font-family: "Poppins", Helvetica, sans-serif;
  line-height: 1em;
}

h2 {
  color: rgb(152,201,171);
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: "Poppins", Helvetica, sans-serif;
}

h3, h4, h5, h6 {
  font-family: "Poppins", Helvetica, sans-serif;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4 {
    color: rgb(93,139,200);
}




/*---------------------------------------Top Nav-----------------------------------*/

/*

header {
  background-color: rgb(152,201,171);
}

header nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

header nav ul li {
  width: 50%;
  padding: 5px 0px;
}

header img {
  float: left;
  width: 20%;
  padding: 10px;
}

header h1 {
  font-size: .95em;
  float: left;
  padding-top: 20px;
}
*/



/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(152,201,171);
  position: relative;
  font-family: "Poppins";
}

.topnav img {
  width: 70%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  width: 75px;
}


/* Add background color on mouse-over */

.topnav ul {
  list-style: none;
  padding: 0px;
  font-family: "Poppins";
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.topnav ul li a {
  background-color: rgb(152,201,171);
  transition: .25s background-color ease-in-out;
}

.topnav ul li a:hover {
background-color: rgb(93,139,200);
color: white;
}




/* Style the active link (or home/logo) */
.active {
  background-color: rgb(152,201,171);

}



/*------topnav breakpoints------*/

@media screen and (min-width: 700px) {
  .topnav a.icon {
    display: none;
  }

  .topnav img {
    width: 70%;
    padding: 10px;
  }

  .topnav {
    background-color: rgb(93,139,200);
  }

  #myLinks{
    display: block !important;
  }

  .topnav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 1px;
    margin-top: 1px;
    bottom: 0;
  }

/*---This is for the color animation----*/
  .topnav ul li a {
    background-color: rgb(93,139,200);
    transition: .25s color ease-in-out;
    position: relative;
  }


  .topnav ul li a:hover {
    color: rgb(223,184,62);
  }

/*---This is for the overline animation----*/

  .topnav ul li a::before {
    content: '';
    display: block;
    position: relative;
    bottom: 15px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(223,184,62);
    transform-origin: left top;
    transform: scale(0, 2);
    transition: color .5s,transform .25s ease-out;
  }

.topnav ul li a:active::before {
    background-color: rgb(223,184,62);
}



  .topnav ul li a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 2);
}

}



/*------------------------------------------INDEX PAGE-------------------------------------*/


/*----Slider----*/
/*
.home-slider img{
  width: 25%;
}
*/

.carousel-cell {
    width: 100%;
}

.carousel-cell img {
    width: 100%;
    height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.slider1-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background: rgb(152,201,171, .8);
  border-top: 5px solid rgb(93,139,200);
  width: 50%;
  color: white;
  font-size: .7em;
  padding-left: 20px;
  padding-right: 20px;
}

.slider1-text p {
  font-size: 0em;
  visibility: hidden;
}

.slider2-text {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgb(152,201,171, .8);
  border-top: 5px solid rgb(93,139,200);
  width: 40%;
  color: white;
  font-size: .7em;
  padding-left: 20px;
  padding-right: 20px;
}

.slider2-text p {
  font-size: 0em;
  visibility: hidden;
}

.slider3-text {
  position: absolute;
  left: 20px;
  top: 20px;
  background: rgb(152,201,171, .8);
  border-top: 5px solid rgb(93,139,200);
  width: 40%;
  color: white;
  font-size: .7em;
  padding-left: 20px;
  padding-right: 20px;
}

.slider3-text p {
  font-size: 0em;
  visibility: hidden;
}


/*------ SLIDER media query------*/

@media screen and (min-width: 700px) {

  .slider1-text p {
    font-size: .5em;
    line-height: 1.3em;
    font-weight: normal;
    visibility: visible;
  }

  .slider2-text p {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: normal;
    visibility: visible;
  }

  .slider3-text p {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: normal;
    visibility: visible;
  }



}

/*-------END OF SLIDER--------*/

/*-------LOADING BAR--------

.load-bar {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 3px;
  background-color: rgb(93,139,200);
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: rgb(223,184,62);
  animation: loading 4s linear infinite;
}

@keyframes loading {
    from {left: 0%; width: 0;z-index:100;}
    100% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}


/*-------END LOADING BAR (failed so it's a no go, but included CSS for future development)--------*/

.mission {
  border-bottom: 3px dotted rgb(93,139,200);
}

.grow img {
  width: 100%;
  padding-top: 25px;
  transition: .5s transform ease-in-out;
}

.grow img:hover {
  transform: scale(1.1);
}

.engage img {
  width: 100%;
  padding-top: 25px;
  transition: .5s transform ease-in-out;
}

.engage img:hover {
  transform: scale(1.1);
}

a {
  color: rgb(93,139,200);
  transition: .25s color ease-in-out;
}

a:hover {
  color: rgb(223,184,62);
}

.testimonials ul {
  list-style: none;
  border-left: 2px dotted rgb(93,139,200);
  padding-left: 15px;
}

.testimonials ul li {
  border-bottom: 1px solid rgb(93,139,200);
  padding-bottom: 20px;
  padding-top: 15px;
}

.testimonials ul li span {
  font-style: italic;
}

/*------ INDEX media query------*/

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }

  .mission p {
    font-size: 1.8em;
  }

  p {
    font-size: 1.3em;
  }

  .grow {
    display: inline-block;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .grow img {
    float: left;
    width: 55%;
  }

  .grow-text{
    float: left;
    width: 45%;
    padding-left: 40px;
  }

  .engage {
    display: inline-block;
    padding-bottom: 20px;
  }

  .engage img {
    float: right;
    width: 55%;
  }

.engage-text {
  float: right;
  width: 45%;
  padding-right: 40px;
}


.testimonials ul {
  font-size: 1.3em;
  margin: auto;
  width: 75%;
}

}



/*----------------------------------ABOUT PAGE--------------------------------------*/

.our-location img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: .5s transform ease-in-out;
}

.our-location img:hover {
  transform: scale(1.1);
}

.our-classrooms img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: .5s transform ease-in-out;
}

.our-classrooms img:hover {
  transform: scale(1.1);
}

.leadership span {
  color: rgb(152,201,171);
}

.leadership img {
  width: 50%;
}

.contact {
  padding-top: 20px;
}

.contact ul {
  list-style: none;
}

/*----about page media query----*/

@media screen and (min-width: 700px) {
  .location {
    display: inline-block;
    border-bottom: 3px dotted rgb(93,139,200);
  }

  .our-location {
    float: left;
    width: 50%;
    padding: 30px;
  }

  .our-classrooms {
    float: left;
    width: 50%;
    padding: 30px;
    /*border-left: 2px dotted rgb(93,139,200);*/
    margin-top: 115px;
  }

.leaders {
  border-bottom: 3px dotted rgb(93,139,200);
}

.leaders p {
  font-size: 1.8em;
}


  .leader1 {
    margin-top: 35px;
    display: inline-block;
    border-bottom: 1px solid rgb(93,139,200);
  }

  .leader1 img {
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .leader2 {
    margin-top: 35px;
    display: inline-block;
    border-bottom: 1px solid rgb(93,139,200);
  }

  .leader2 img {
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .leader3 {
    margin-top: 35px;
    display: inline-block;
    border-bottom: 1px solid rgb(93,139,200);
  }

  .leader3 img {
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .leader4 {
    margin-top: 35px;
    display: inline-block;
    border-bottom: 1px solid rgb(93,139,200);
  }

  .leader4 img {
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 20px;
  }

}

.contact h2 {
  padding-top: 0px;
  margin-top: 0px;
  line-height: 0px;
}




/*-----------------------------PROGRAMS PAGE-------------------------------------------*/

.programs-header {
  border-bottom: 3px dotted rgb(93,139,200);
}

.programs-header img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}



/*-----------TOGGLEBOX-----------*/


/* This font library brings in the arrows - you could also customize with your own if you'd like */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.togglebox {
  margin: 0 auto;
  background: #fff;
  transform: translateZ(0);
  /*box-shadow: 0 1px 1px rgba(0,0,0,.1);*/
}

input[type="checkbox"] {
  position: absolute;
  display: none;
}

label {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-top: .5px solid #ddd;
  background: #fff;
  cursor: pointer;
}

label[for*='1'] {
  border: 0;
}

label:after {
  content: '+';
  font-size: 1.3em;
  color: rgb(223,184,62);
  position: absolute;
  top: 15px;
  right: 20px;
  transform: rotate(90deg);
  transition: 1s transform ease;
}

section {
  max-height: 0;
  transition: .7s ease-in-out;
  overflow: scroll;
}

#content1, #content2, #content3, #content4, #content5, #content6, #content7 {
  padding: 0px 20px 0px 20px;
}

#toggle1:checked ~ label[for*='1']:after,
#toggle2:checked ~ label[for*='2']:after,
#toggle3:checked ~ label[for*='3']:after,
#toggle4:checked ~ label[for*='4']:after,
#toggle5:checked ~ label[for*='5']:after,
#toggle6:checked ~ label[for*='6']:after,
#toggle7:checked ~ label[for*='7']:after {
  transform: rotate(45deg);
}

/* This is how the toggle can change from a "+" to a "-"

#toggle1:checked + label:after {
  content:"-"
}
#toggle2:checked + label:after {
  content:"-"
}
#toggle3:checked + label:after {
  content:"-"
}
#toggle4:checked + label:after {
  content:"-"
}
#toggle5:checked + label:after {
  content:"-"
}
#toggle6:checked + label:after {
  content:"-"
}
#toggle7:checked + label:after {
  content:"-"
}

*/


#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4,
#toggle5:checked ~ #content5,
#toggle6:checked ~ #content6,
#toggle7:checked ~ #content7 {
  max-height: 1000px;
}


.togglebox img {
  width: 100%;
}


/*---programs media query------*/


@media screen and (min-width: 700px) {
  .programs-header p {
    font-size: 1.8em;
  }
  .togglebox img {
    width: 45%;
  }

  section {
    max-height: 0;
    transition: .7s ease-in-out;
    overflow: hidden;
  }

}



/*-----------------------------------------CAREERS PAGE---------------------------------*/

.career-header {
  border-bottom: 3px dotted rgb(93,139,200);
}

.kindergarten-teacher, .toddler-teacher {
  border-bottom: 1px solid rgb(93,139,200);
  padding: 10px 25px 10px 25px;
  transition: .5s background-color ease;
}

.kindergarten-teacher:hover {
  background-color: rgb(93,139,200, .2);
}

.toddler-teacher:hover {
  background-color: rgb(93,139,200, .2);
}

button {
  font-family: "Poppins";
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  padding: 5px 20px 5px 20px;
  border: 2px solid rgb(93,139,200);
  color: rgb(93,139,200);
  transition: .5s all ease;
}

button:hover {
  border: 2px solid rgb(223,184,62);
  color: rgb(223,184,62);
}


/*-----CAREERS breakpoint--------*/
@media screen and (min-width: 700px) {
  .career-header p {
    font-size: 1.8em;
  }

  .jobs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .toddler-teacher, .kindergarten-teacher {
    width: 50%;
  }


}



/*-------------------------------------NEWS + EVENTS STYLES-------------------------------------*/

.news-events-header {
  border-bottom: 3px dotted rgb(93,139,200);
}

.news {
  max-width: 950px;
  margin: 0px auto;
  border-bottom: 1px solid rgb(93,139,200);
  padding: 20px 20px 10px 20px;
  transition: .5s background-color ease-in-out;
}

.news:hover {
  background-color: rgb(93,139,200, .2);
}

.news span {
font-weight: bold;
}

/*------NEWS + EVENTS media query------*/
@media screen and (min-width: 700px) {
  .news-events-header p {
    font-size: 1.8em;
  }

}


/*-------------------------------------ENROLL STYLES-------------------------------------*/
.enroll-header {
  border-bottom: 3px dotted rgb(93,139,200);
}

.enroll-header span {
  font-weight: bold;
}



/*----ENROLL FORM STYLES----*/

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  font-family: "Alegreya";
  font-size: 1em;
  width: 100%;
  padding: 12px;
  border: none;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  resize: vertical;
  transition: .25s border ease;
}

textarea::placeholder, input::placeholder {
  color: #a8a8a8;
}

input[type=text]:hover, select:hover, textarea:hover {
    border-bottom: 3px solid rgb(223,184,62);
}

input[type=text]:active, select:active, textarea:active {
    border-bottom: 3px solid rgb(223,184,62);
}


input[type=text]:focus, select:focus, textarea:focus {
    outline: none;
    border-bottom: 3px solid rgb(223,184,62);
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  line-height: 20px;
}

/* Style the submit button */
input[type=button] {
  font-family: "Poppins";
  font-size: 1em;
  color: rgb(93,139,200);
  padding: 10px 20px;
  border: 2px solid rgb(93,139,200);
  cursor: pointer;
  float: right;
  transition: .25s all ease;
}

input[type=button]:hover {
  border: 2px solid rgb(223,184,62);
  color: rgb(223,184,62);
}

/* Style the container */
.container {
  background-color: none;
  padding: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-25 label {
  border: none;
}

/*this is here to eliminate the "+" that by default shows up on the labels*/
.col-25 label:after {
  content: "";
}


.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
  color: rgb(93,139,200);
}


/*------Responsive layout - when the screen is more than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 700px) {
  .enroll-header p {
    font-size: 1.8em;
  }

  /* Floating column for labels: 25% width */
  .col-25 {
    background-color: none;
    color: rgb(93,139,200);
    float: left;
    width: 35%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
  }

}





/*-------------------------------------FOOTER STYLES-------------------------------------*/

footer {
  background-color: rgb(152,201,171);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
}

footer img {
  width: 15%;
  padding-top: 20px;
}

footer ul {
  list-style: none;
  font-family: "Poppins";
  padding-left: 0px;
}

footer ul li {
  line-height: 1.3em;
  padding-top: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
  color: rgb(93,139,200);
}

/*------footer media query------*/

@media screen and (min-width: 700px) {
  footer img {
    width: 10%
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    max-width: 870px;
    padding: 0px 25px 10px 25px;
    margin: 0px auto;
    font-size: .8em;

  }


}

/*---------------------------PROJECT HUB---------------------------------*/




.button {
  text-decoration: none;
  text-align: center;
  padding: 5px 20px 5px 20px;
  border: 2px solid rgb(93,139,200);
  color: rgb(93,139,200);
  transition: .5s all ease;
}

.button:hover {
  border: 2px solid rgb(223,184,62);
  color: rgb(223,184,62);
}

.button1 a {
  text-decoration: none;
  text-align: center;
  padding: 5px 20px 5px 20px;
  border: 2px solid rgb(93,139,200);
  color: rgb(93,139,200);
  transition: .5s border ease;
  transition: .5s color ease;
}

.button1 a:hover {
  border: 2px solid rgb(223,184,62);
  color: rgb(223,184,62);
}

.button2 a {
  text-decoration: none;
  text-align: center;
  padding: 5px 20px 5px 20px;
  border: 2px solid rgb(93,139,200);
  color: rgb(93,139,200);
  transition: .5s border ease;
  transition: .5s color ease;
}

.button2 a:hover {
  border: 2px solid rgb(223,184,62);
  color: rgb(223,184,62);
}

.project-hub-links {
  border-top: 3px dotted rgb(93,139,200);
  padding-top: 15px;
}
